@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    background: rgb(4, 6, 34);
    color:white;
}
.header{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 28px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    font-size: 23px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active {
    color: white;
}
.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: o 10%;
}
.home-content{
    max-width: 600px;
}
.home-content h1{
    font-size: 53px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px ;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}



.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: black;
    border: 2px solid  rgb(0, 195, 255);
    border-radius: 8px;
    font-size:19px;
    color: rgb(0, 195, 255);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.5s;
}
.btn-box a:hover{
    color: rgb(0, 0, 0);
    background-color:  rgb(0, 195, 255);
    border-color:  rgb(0, 195, 255);
}
.btn-box a:nth-child(2){
    background:  rgb(0, 195, 255);
    color: rgb(0, 0, 0);
    border-color:  rgb(0, 195, 255);
}
.btn-box a:hover:nth-child(2){
    background-color: rgb(0, 0, 0);
    color: rgb(0, 195, 255);
    border-color:#00abf0;
}
.img-box img{
    border-radius: 15px;
    width: 20;
}
.img-box img{
    position:relative;
    width: 550px;
    box-shadow: 0 0 25px rgb(0, 0, 0),
                0 0 50px  black;
    border-radius: 28%;
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    justify-content: space-between;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    background: transparent;
    border: 2px solid#00abf0;
    border-radius: 50%;
    font-size: 20px;
    color:#00abf0;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
.home-sci a:hover{
    color: black;
    background: aqua;
    transition: .5s;
}


.contact-form{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form .input-box{
    display: flex;
    justify-content: center;
    flex: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(241 , 241 , 241);
    border-radius: .8rem ;
    margin: 1rem 0;
    resize: none;
}
.footer{
   position: relative;
   bottom: 0;
   width: 100%;
   padding: 40px 0;
   background-color: black;   
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .social a{
    font-size: 40px;
    color: rgb(255, 255, 255);
    border: 2px white;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px white, 0 0 10px white;
    transition: 0,3s ease;
}
.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: black;
    background-color: rgb(255, 255, 255);
}
.about-img img{
    width: 85%;
    height: 75%;
    border: 1px solid rgb(25, 48, 7);
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 0 15px rgb(60, 93, 93),
                0 0 15px rgb(39, 55, 55);
}
.about-img:hover{
    border-color: #d9ff00;
}
.button1{
    background-color: rgb(137, 24, 24);
    width: 100px;
    height: 50px;
    color: white;
    border-radius: 6px;
}
.button1:hover{
    color: rgb(0, 0, 0);
    font-size: 15px;    
    border:2px ;
    
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    text-align:center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    color: aqua;
    transform: scale(1.2)translateY(-10px);
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color:white;
}
span{
    color: #00e0f0;
}
